@import url('https://fonts.googleapis.com/css?family=Lora|Cinzel');

body {
  font-family: 'Lora', serif;
  background: #f1fce8;
}

.home__pitch {
  margin-top: 20px;
}
.home__title {
  font-size: 36px;
  margin-bottom: 20px;
}
.home__content {
  font-size: 24px;
  margin-bottom: 25px;
}

.email {
  color: green;
}
.app {
  color: blue;
}
